
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;


}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#ff7b00;
}

html{
    font-size: 62.5%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

/*
.header.sticky{
    background: var(--second-bg-color);
}
*/




.logo img{
    width: 60px;
    
}

.navbar a{
   position: relative;
   font-size: 1.7rem;
   font-weight: 300;
   text-transform: uppercase;
   color: var(--text-color);
   margin-left: 4rem;
   transition: 0.3s;
}

.navbar a::before{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0.1rem;
    width: 0%;
    height: 0.2rem;
    background: #fff;
    transition: 0.3s;
}

.navbar a.active::before{
    width: 100%;  
}

.navbar a:hover::before{
    width: 100%;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;

}

.home
{
    background:var(--main-color);
    width: 100%;
    min-height: 90vh;
    padding: 9.5rem 9% 4rem;
}

.home .home-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .home-content .content{
    flex: 1 1 20rem;
}

.home .home-content .content h2{
    color: var(--text-color);
    font-weight: 550;
    font-size: 4rem;
}

.home .home-content .content p{
    color: var(--text-color);
    font-size: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.home .home-content .content .download{
    display: block;
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
    font-weight: 550px;
    color: var(--main-color);
    background: var(--text-color);
    border-radius: 40px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.home .home-content .content .download:hover{
    background: var(--second-bg-color);
}

.home .home-content .content span{
    color: var(--text-color);
    font-size: 1.4rem;
}

.home .home-content .image{
    flex: 1 1 20rem;
}

.home .home-content .image img{
    width: 100%;
    height: 40rem;
    margin-top: 6rem;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-4.8rem);
    }
    100%{
        transform: translateY(0);
    }
}

section{
    padding: 4rem 9%;
}

@media(max-width:1250px){
    .header{
        padding: 1.5rem 7%;
    }

    .home{
        padding: 9.5rem 6% 4rem;
    }

    .section{
        padding: 4rem 6%;

    }

}

@media(max-width:1050px){
.home .home-content{
    display: flex;
    flex-direction: column;
}
}
@media(max-width:991px){

    .navbar{
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        height: 40vh;
        padding: 3rem 3%;
        background: var(--second-bg-color);
        text-align: center;
        transform: 0.4s;
    }

    .navbar.active{
        top: 8%;
    }

    .navbar a{
        display: block;
        margin-bottom: 1rem;
    }
    .navbar a::before{
        height: 0;
        display: block;
    }
    #menu-icon{
        display: flex;
    }
}

@media(max-width:600px){
    .home .home-content .content h2{
        font-size: 3.2rem;
    }
}

@media(max-width:420px){
    .home .home-content .content h2{
        font-size: 2.4rem; 
    }
}


.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter .counter-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8rem;
    align-items: center;
}

.counter .counter-row .col-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 0.1rem solid var(--second-bg-color);
    position: relative;
    padding: 2rem;
 
}

.counter .counter-row .col-1 img{
   position: absolute;
    width: 55px;
    height: 60px;
    top: -3rem;
   
}

.counter .counter-row .col-1  span.num{
    padding-top: 2rem;
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 600;
    
}
.counter .counter-row .col-1  span.text{
    font-size: 1.9rem;
    font-weight: 400;
    color: var(--second-bg-color);
}

@media(max-width:1024px){
    .counter .counter-row{
        grid-template-columns: 1fr 1fr;
    }

}



@media(max-width:600px){
    .counter .counter-row{
        grid-template-columns: 1fr;
    }

}


#overview {
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f8f1f1;
}

.topic h3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--second-bg-color);
    position: relative;
    padding-top: 5.2rem;
}


.topic h3::before{
    content:  '';
    position: absolute;
    bottom: -10px;
    height: 3px;
    width: 150px;
    border-radius: 3px;
    background: var(--main-color);
}

.topic p{
    font-size: 1.6rem;
    padding: o 16%;
    text-align:  center;
    margin-top: 3rem;
    color: var(--second-bg-color);
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7rem;
    padding-top: 5rem;
}

.row  .col-2{
    background: #fff;
    padding: 2.5rem;
    box-shadow:0 1px 3px var(--bg-color);
    transition: 0.4s;
}

.row  .col-2:hover{
    transform: scale(1.04);
}


.row  .col-2 img{
    width: 50px;
    height: 50px;

} 

.row  .col-2 h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--second-bg-color);
    padding-bottom: 1rem;
}

.row  .col-2 p{
    font-size: 1.3rem;
    padding-bottom: 2rem;
}


@media (max-width: 1024px) {
    .row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .topic p {
       padding: 0rem 4%;
    }
}

@media (max-width: 600px) {
    .row {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}


/* video section start */
.review{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left,
     rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review .video{
    width: 100%;
    height: 55rem;
    padding: 2rem 16%;
}

.review .video iframe{
    width: 100%;
    height: 100%;
}

/*
.review .video .text {
   color:var(--text-color);
    text-align: center;
}
*/

@media(max-width:991px){
    .review .video{
        padding: 2rem 8%;
    }
}

@media(max-width:768px){
    .review{
        height: auto;
    }
    .review .video{
        height: 45rem;
        padding: 2rem 6%;
    }
}


@media(max-width:550px){
   
    .review .video{
        height: 25rem;
        
    }
}






.author-img {
    width: 500px; /* Adjust the width as needed */

  }
  

  






  /* author section start */
  .author-row{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    gap: 30px;
    margin: 6rem 0;

  }
  

  .author-row .col-3{
    flex: 1 1 20rem;
  }

  

  .author-row .col-3 h4{
    font-size: 2.4rem;
    color: var(--second-bg-color);
    border-bottom: 1px solid var(--second-bg-color);
   
  }

  .author-row .col-3 p{
    padding-top: 2rem;
    font-size: 1.3rem;
    text-align: justify;
    color: var(--second-bg-color);
    
 
  }

  .author-row .col-3 img.signature-img{
    width: 150px;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }

  .author-row .col-3 i{
    display: inline-block;
    padding: 0.9rem;
    background: var(--main-color);
    font-size: 2rem;
    margin-top: 3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
  }

  .author-row .col-3 i:hover{
    background: var(--bg-color);
  }


  @media(max-width:768px)
{
    .author-row .col-3 img.author-img{
        height: 60rem;
    }
}
 
@media(max-width:420px)
{
    .author-row .col-3 img.author-img{
        height: auto;
    }
}



/* price section start */





#price {
    background: #f8f1f1;
}

.price-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
    margin: 4.5rem 0;
}

.price-row .col-4 {
    background: #fff;
    text-align: center;
    padding: 3rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.price-row .col-4:hover{
    transform: translateY(-10px);
}




.price-row .col-4 h5{
    color: var(--second-bg-color);
    font-size: 2.2rem;
    font-weight: 600;
    padding: 1.5rem;
    text-transform: uppercase;
}

.price-row .col-4 p.total{
    font-size: 2rem;
    color: var(--second-bg-color);

}

.price-row .col-4 p.total span{
    font-size: 4.5rem;
}

.price-row .col-4 p.text{
    padding-top: 3.5rem;
    font-size: 1.5rem;
    color: var(--second-bg-color);
}

.price-row .col-4 button{
    margin-top: 3.5rem;
    padding: 1.2rem 4.8rem;
    font-size: 1.4rem;
    border: 1px solid var(--main-color);
    text-transform: uppercase;
    color: var(--second-bg-color);
    background: #fff;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
}

.price-row .col-4 button:hover{
    background: var(--main-color);
    columns: var(--text-color);
}

@media(max-width:991px){
    .price-row{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:768px){
    .price-row{
       gap: 2rem;
    }
}

@media(max-width:600px){
    .price-row{
        grid-template-columns: 1fr ;
    }
}


/*=== testimonial section start ===*/
#testimonials{
    width: 100%;
    height: 90vh;
    background: linear-gradient(to left , rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#testimonials .topic .text{
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
}

.swiper .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8rem;
    padding-bottom: 3.5rem ;
}

.swiper .slide p{
    color: #fff;
    font-size: 1.4rem;
    padding: 0 16%;
}

.swiper .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 4rem;
}

.swiper .slide h4{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding:1rem 0 ;
}

.swiper .slide span{
    color: var(--text-color);
    font-size: 1.4rem;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    margin: 0 10px !important;
    background-color: var(--main-color);
}
.swiper.swiper-pagination-bullet{
    position: inherit;
    bottom: 0px;

}


@media(max-width:768px){
    .swiper .slide p{
        padding: 0 4%;

    }
}

/* contact section start */

.contact-row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 700px;
    margin: 4rem auto;
}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


form input,
form textarea{
    border:   1px solid var(--second-bg-color);
    padding: 1.2rem 1rem;
    margin-bottom: 1.4rem;
    border-radius: 0.5rem;
    resize: none;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    text-transform: lowercase;

}


form input::placeholder,
form textarea::placeholder{
    text-transform :capitalize;
}

form .submit{
    background: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    padding: 1.2rem 4rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    cursor: pointer;
}

form .submit:hover{
    background: var(--bg-color);
}

@media(max-width:768px){
    .contact-row{
        width: 100%;
    }
}


/* footer section start */

.footer{ 
    display: flex; 
    align-items: center; 
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
}

.footer i{ 
     padding: 1.3rem;
     border: 1px solid var(--main-color);
     font-size: 1.8rem; 
     color: var(--main-color);
      border-radius: 50%; 
      margin-bottom: 1rem; 
      margin-right: 0.8rem; 
      transition: 0.4s;
     cursor: pointer; 

}

.footer i:hover{
    background: var(--main-color);
    color: var(--text-color);
}

.footer span{

    color: var(--second-bg-color);
    font-size: 1.6rem;
}




